<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/adminHeader::metaHeader">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">NewsApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <div class="nav-link">管理者ログインページ<span class="sr-only">(current)</span></div>
        </ul>
    </div>
</nav>
<br>
<br>
<form method="post" th:action="@{/admin/login}">
    <br>
    <br>
    <div class="form-group" style="width: 500px; margin: auto;">
        <label for="exampleInputEmail1">メールアドレス</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email" name="email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <br>
    <div class="form-group" style="width: 500px; margin: auto;">
        <label for="exampleInputPassword1">パスワード</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-primary mx-auto d-block btn-success" style="width: 200px;">ログイン</button>
</form>
<br>
<br>
<div style="width: 500px; margin: auto;">
    <a th:href="@{/admin/adminRegisterPage}">
        <button type="submit" class="btn btn-warning mx-auto d-block btn-success" style="width: 200px; color: #fff;">新規管理者登録</button>
    </a>
</div>
</body>
</html>