<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head th:replace="/common/adminHeader::metaHeader">
</head>
<body>
<div th:replace="/common/adminHeader::adminHeader"></div>
<br>
<br>
<div  id="app" >
    <div th:each="article : ${articleList}" >
        <input type="hidden" class="articleId" th:value="${article.id}">
        <a th:href="@{/article/articleDetail} + '?articleId=' + ${article.id}" class="text-secondary" >
            <div class="shadow p-3 mb-5 bg-white rounded mx-auto"  style="width: 700px; height: 150px; margin: auto;">
                <img th:src="${article.image}" alt="写真" class="img-thumbnail pull-left float-left" style="width: 150px; height: 100px;">
                <pre class="text-center" th:text="${article.title}">
                </pre>
                <a @click="deleteItem" th:href="@{/article/deleteArticle} + '?articleId=' + ${article.id}" class="float-right articleId" alt="削除" style="margin-left: 20px; margin-top: 40px;" >
                    <img th:src="@{/images/delete.png}" style="width: 25px; height: 25px;">
                </a>
                <a th:href="@{/article/editArticlePage} + '?articleId=' + ${article.id}" class="float-right" alt="編集" style=" margin-top: 40px;">
                    <img th:src="@{/images/edit.png}" style="width: 25px; height: 25px;">
                </a>
            </div>
        </a>
    </div>
</div>
<nav aria-label="Page navigation example" style="margin-left: 600px; margin-bottom: 50px;">
    <ul class="pagination" style="margin: auto;">
        <li class="page-item">
            <a class="page-link" th:href="@{'/admin/adminTop?pageCount=1'}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <span th:if="${countArticles} != 0">
            <span th:each="i : ${#numbers.sequence(1, countArticles)}">
                <li class="page-item" style="float:left;"><a class="page-link" th:href="@{'/admin/adminTop?pageCount=' + ${i}}" th:text="${i}">1</a></li>
            </span>
        </span>
        <li class="page-item">
            <a class="page-link" th:href="@{'/admin/adminTop?pageCount=' + ${countArticles}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>
</html>