<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/adminHeader::metaHeader">
</head>
<body>
<div th:replace="/common/adminHeader::adminHeader"></div>
<form method="post" th:action="@{/admin/registerGenre}">
    <div class="form-group" style="width: 500px; margin: auto;">
        <label>ジャンル名</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="ジャンル名" name="genreName">
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-primary mx-auto d-block btn-success" style="width: 200px;">ジャンル登録</button>
</form>

</body>
</html>