<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NewsApp管理者新規登録</title>
    <!--    <script  th:src="@{/js/bootstrap.js}"></script>-->
    <!--    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="adminHeader::adminHeader"></div>
<br>
<br>
<form method="post" th:action="@{/admin/registerAdmin}">
    <div class="form-group" style="width: 500px; margin: auto;">
        <label for="exampleInputEmail1">管理者名</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="ユーザー名" name="name">
    </div>
    <br>
    <div class="form-group" style="width: 500px; margin: auto;">
        <label for="exampleInputEmail1">メールアドレス</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="メールアドレス" name="email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <br>
    <div class="form-group" style="width: 500px; margin: auto;">
        <label for="exampleInputPassword1">パスワード</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="パスワード" name="password">
    </div>
    <br>
    <div class="form-group" style="width: 500px; margin: auto;">
        <label for="exampleInputPassword1">パスワード確認用</label>
        <input type="password" class="form-control" placeholder="パスワード確認用" name="confirmPassword">
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-primary mx-auto d-block btn-success" style="width: 200px;">管理者新規登録</button>
</form>


</body>
</html>