<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/adminHeader::metaHeader">
</head>
<body>
<div th:replace="/common/adminHeader::adminHeader"></div>
<br>
<br>
<h1 style="width: 350px; margin: auto;">管理者情報編集</h1>
<br>
<br>
<form method="post" th:action="@{/admin/editAdmin}">
    <div class="form-group" style="width: 500px; margin: auto;">
        <label for="exampleInputEmail1">管理者名</label>
        <input type="text" class="form-control" aria-describedby="emailHelp"  name="name" th:value="${admin.name}">
    </div>
    <br>
    <div class="form-group" style="width: 500px; margin: auto;">
        <label for="exampleInputEmail1">メールアドレス</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" th:value="${admin.email}">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
<!--    <br>-->
<!--    <div class="form-group" style="width: 500px; margin: auto;">-->
<!--        <label for="exampleInputPassword1">パスワード</label>-->
<!--        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="パスワード">-->
<!--    </div>-->
<!--    <br>-->
<!--    <div class="form-group" style="width: 500px; margin: auto;">-->
<!--        <label for="exampleInputPassword1">パスワード確認用</label>-->
<!--        <input type="text" class="form-control" placeholder="パスワード確認用">-->
<!--    </div>-->
    <br>
    <br>
    <button type="submit" class="btn btn-primary mx-auto d-block btn-success" style="width: 200px;">管理者編集完了</button>
</form>
</body>
</html>