<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/adminHeader::metaHeader">
</head>
<body>
<div th:replace="/common/adminHeader::adminHeader"></div>
<br>
<br>
<h1 style="width: 320px; margin: auto;">記事編集画面</h1>
<br>
<br>
<form style="width: 500px; margin: auto;" method="post" th:action="@{/article/editArticle}" enctype="multipart/form-data">
    <input type="hidden" th:value="${article.id}" name="articleId">
    <div class="form-group">
        <label for="exampleInputEmail1">見出し</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  th:value="${article.title}" name="title">
    </div>
    <br>
    <br>
    <div class="form-group">
        <label for="file">ファイル（１つのイメージファイルのみ）</label>
        <div id="file" class="input-group">
            <div class="custom-file" style="overflow: hidden;">
                <input type="file" id="cutomfile" class="custom-file-input" name="imageFile" />
                <label class="custom-file-label" style="white-space: nowrap;"  data-browse="参照">ファイル選択...</label>
            </div>
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-secondary reset">取消</button>
            </div>
        </div>
    </div>
    <div>
        <div>現在表示中</div>
        <img th:src="${article.image}" alt="写真" class="img-thumbnail pull-left float-left" style="width: 150px; height: 100px;">
    </div>
    <br>
    <br>
    <div class="form-group" style="margin-top: 100px;">
        <label for="exampleFormControlTextarea1">記事内容</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" th:text="${article.content}" name="content" rows="3"></textarea>
    </div>
    <br>
    <br>
    ジャンル
    <select class="custom-select" name="genre_id">
        <option th:value="${article.genre.id}" th:text="${article.genre.genre_name}" selected>変更する場合は選択して下さい</option>
        <div th:each="genre : ${genreList}">
            <div th:if="${article.genre.genre_name} != ${genre.genre_name}">
                <option th:value="${genre.id}" th:text="${genre.genre_name}"></option>
            </div>
        </div>
    </select>
    <br>
    <br>
    <button type="submit" class="btn btn-primary mx-auto d-block btn-success" style="width: 200px; margin-bottom: 80px;">編集完了</button>
</form>

</body>
</html>