<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.AdminMapper">

    <!--管理者情報を登録する-->
    <insert id="insertAdmin" parameterType="com.example.demo.domain.Admin" useGeneratedKeys="true" keyProperty="id">
        insert into admins (name,email,password)
        values (#{name},#{email},#{password});
    </insert>

    <!-- ジャンルを登録する -->
    <insert id="insertGenre" parameterType="com.example.demo.domain.Genre">
        insert into genre (genre_name)
        values (#{genre_name});
    </insert>

    <!-- 管理者をメールアドレスで１件検索-->
    <select id="findAdmin" resultType="com.example.demo.domain.Admin" >
        select id,name,email,password from admins where email = #{email};
    </select>

</mapper>