<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ArticleMapper">

    <!--記事を登録する-->
    <insert id="insertArticle" parameterType="com.example.demo.domain.Article" useGeneratedKeys="true" keyProperty="id">
        insert into articles (title,image,content,genre_id,admin_id)
        values (#{title},#{image},#{content},#{genre_id},#{admin_id});
    </insert>

    <select id="findArticles">

    </select>

</mapper>